<!DOCTYPE html>
<html>
<head>
  <title>Your Site Title</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% else %>
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- Menu -->

	  <div class="container">
    <ul class="nav nav-tabs">
    <li>  <%= link_to "Home" , root_path %></li>
    <li>   <%= link_to "About Us" , welcome_about_path %></li>

    </ul>
    


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
<div align="center">
	<p>
		&copy; Copyright 1997 - 2015 Bizovation, LLC.<br />
		All rights reserved.
	</p>
 </div>
</body>
</html>
